*.cabal
*.hi
*.o
*.swp
.DS_Store
.cabal-sandbox
.env
.hspec-failures
.stack-work/
build
cabal-dev/
cabal.sandbox.config
config/client_session_key.aes
dist*
env*
hsenv*
static/combined/
static/tmp/
tmp/*