body {
  padding: 0 0 60px;
  font-family: sans-serif;
}

.navbar.editing {
  background-color: #00f;
}

.search article {
  margin-bottom: 2em;
}

.traitFilter table {
  margin-top: 1em;
}

.graphiql-container {
  min-height: 800px;
}