body {
  padding: 0 0 60px;
  font-family: sans-serif;
}

.search article {
  margin-bottom: 2em;
}

.traitFilter table {
  margin-top: 1em;
}

.graphiql-container {
  min-height: 800px;
}

.jumbotron.wide {
  margin-top:-20px; 
  background-color: #222;
  background-image: url('/peanocurve.svg');
  background-repeat: repeat;
  color: #fff;
}

.navbar-default {
  background-image: url('/peanocurvelight.svg');
  background-repeat: repeat;
}

@media (max-width: 767px) {
    .nav.pull-right {
        float: left!important;
    }
}

.jumbotron.wide a {
  color: #afcee9;
}
